html {
  -webkit-text-size-adjust: 100%; }

body {
  color: #363636;
  font-family: helvetica;
  margin: 0; }

br {
  line-height: 50px; }

.header, .header--noRS, .header--webp-2x, .header--webp-3x, .header--png-2x, .header--png-3x, .header--webp-2x-noRS, .header--webp-3x-noRS, .header--png-2x-noRS, .header--png-3x-noRS {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 190px;
  width: 100%;
  background: #422039;
  background-position-y: center;
  background-size: 100%;
  padding: 55px 0;
  color: #fff; }

.header__titleBg, .header__titleBg--webp-2x, .header__titleBg--webp-3x, .header__titleBg--png-2x, .header__titleBg--png-3x, .header__titleBg--webp-2x-noRS, .header__titleBg--webp-3x-noRS, .header__titleBg--png-2x-noRS, .header__titleBg--png-3x-noRS {
  background-position: top left;
  z-index: 5; }

.header--noRS {
  background-size: 1400px 100%;
  background-position: center center; }

.header__home {
  padding: 10px 14px 10px 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background: #422039;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 8px;
  color: #fff;
  z-index: 5; }
  .header__home:hover {
    background: #381b30; }

.header__titleBg--faux {
  padding: 15px 20px;
  margin: 8px;
  background: #fff; }

.header__titleBg--webp-2x-noRS {
  background-size: 1400px;
  background-image: url(../images/floral-crop-2x.webp); }

.header__titleBg--webp-3x-noRS {
  background-size: 1400px;
  background-image: url(../images/floral-crop-2x.webp); }

.header__titleBg--png-2x-noRS {
  background-size: 1400px;
  background-image: url(../images/floral-crop-2x.png); }

.header__titleBg--png-3x-noRS {
  background-size: 1400px;
  background-image: url(../images/floral-crop-2x.png); }

.header__title {
  margin: 0;
  font-size: 45px;
  color: #422039; }

.header--webp-2x-noRS {
  background-size: 1400px 100%;
  background-position: center center;
  background-image: url(../images/floral-crop-2x.webp); }

.header--webp-3x-noRS {
  background-size: 1400px 100%;
  background-position: center center;
  background-image: url(../images/floral-crop-2x.webp); }

.header--png-2x-noRS {
  background-size: 1400px 100%;
  background-position: center center;
  background-image: url(../images/floral-crop-2x.png); }

.header--png-3x-noRS {
  background-size: 1400px 100%;
  background-position: center center;
  background-image: url(../images/floral-crop-2x.png); }

.webp .header, .webp .header--noRS {
  background-image: url(../images/floral-crop.webp); }

.webp .header__titleBg, .webp .header__titleBg--noRS {
  background-image: url(../images/floral-crop.webp); }

.no-webp .header, .no-webp .header--noRS {
  background-image: url(../images/floral-crop.png); }

.no-webp .header__titleBg, .no-webp .header__titleBg--noRS {
  background-image: url(../images/floral-crop.png); }

.no-js-header .header, .no-js-header .header--noRS {
  background-image: url(../images/floral-crop.png); }

.no-js-header .header__titleBg, .no-js-header .header__titleBg--noRS {
  background-image: url(../images/floral-crop.png); }

.main {
  display: flex;
  justify-content: center; }

.nav {
  min-width: 240px;
  padding: 0 10px 58px 0;
  margin-top: 0px;
  display: flex; }
  .nav__list {
    list-style: none;
    line-height: 36px;
    margin-top: 67px; }
    .nav__list--fixed {
      list-style: none;
      line-height: 36px;
      position: fixed;
      top: 67px;
      margin: 0; }
    .nav__list--bottom {
      list-style: none;
      line-height: 36px;
      align-self: flex-end; }
  .nav__item {
    color: #ccd088;
    text-decoration: none;
    padding: 9px 0; }
    .nav__item:hover {
      color: #B4BA51; }
    .nav__item--active {
      color: #B4BA51;
      font-weight: bold;
      text-decoration: none; }
  .nav--m {
    display: none; }

.content {
  width: 680px;
  min-width: 0;
  padding-right: 10px;
  margin: 27px 0 65px; }
  .content__body {
    font-size: 14px;
    line-height: 34px;
    color: #555; }
  .content__heading {
    margin-top: 45px;
    font-size: 22px;
    color: #B4BA51; }
  .content__title {
    font-size: 14px;
    margin: 35px 0 20px; }
  .content__subtitle {
    font-size: 14px;
    margin: 4px 0 20px 0;
    color: #666; }
  .content__list {
    font-size: 14px;
    line-height: 34px;
    color: #555;
    padding-left: 16px; }
    .content__list--bold {
      font-size: 14px;
      margin: 5px 0 5px; }
  .content__link {
    color: #B4BA51;
    text-decoration: none; }
    .content__link:hover {
      text-decoration: underline; }
  .content__code {
    background: #eee;
    border: solid 1px #ddd;
    border-radius: 2px;
    padding: 0 5px; }
  .content__grid {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding-left: 16px; }
    .content__grid-item {
      width: 220px;
      line-height: 34px;
      color: #555;
      font-size: 14px; }

.pre {
  overflow: auto;
  margin: 0; }
  .pre__container {
    overflow: auto;
    background-color: #eee;
    padding: 15px 20px;
    border-radius: 4px; }
  .pre__code {
    line-height: 2; }

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #f3f3f3;
  border-top: solid 1px #eee;
  z-index: 2; }
  .footer__contain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 940px; }
    .footer__contain--left {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 30px; }
    .footer__contain--right {
      display: flex;
      align-items: center;
      justify-content: flex-end; }
  .footer__link {
    color: #999;
    font-size: 10px;
    padding: 8px 10px;
    letter-spacing: 3px;
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none; }
    .footer__link:hover {
      color: #B4BA51; }
  .footer__blurb {
    color: #999;
    font-size: 14px;
    font-family: monospace; }
    .footer__blurb--sm {
      display: none; }
  .footer__pseudoCode {
    background: #eee;
    border: solid 1px #ddd;
    border-radius: 2px;
    padding: 0 5px; }
  .footer__avatar {
    width: 32px;
    height: 43px;
    margin: 20px 10px 20px 30px; }

@media (min-width: 1400px) {
  .no-js-header .header, .no-js-header .header--noRS {
    background-repeat: repeat-x; }
  .no-js-header .header, .no-js-header .header--noRS {
    background-repeat: repeat-x; }
  .webp .header, .webp .header--noRS {
    background-repeat: repeat-x; }
  .no-webp .header, .no-webp .header--noRS {
    background-repeat: repeat-x; }
  .header--webp-2x, .header--webp-3x, .header--png-2x, .header--png-3x {
    background-repeat: repeat-x; }
  .header--webp-2x-noRS, .header--webp-3x-noRS, .header--png-2x-noRS, .header--png-3x-noRS {
    background-repeat: repeat-x; } }

@media (max-width: 800px) {
  .nav {
    display: none; }
  .nav--m {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    background: #00687b;
    color: #fff;
    cursor: pointer; }
  .content {
    padding-left: 20px;
    max-width: 100%;
    box-sizing: border-box; }
  .footer__contain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 680px;
    margin: 0 10px; }
  .footer__contain--left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0; }
  .footer__avatar {
    margin-left: 15px; } }

@media (max-width: 700px) {
  .footer__blurb {
    display: none; }
  .footer__blurb--sm {
    color: #999;
    font-size: 14px;
    font-family: monospace;
    display: block; } }

@media (max-width: 680px) {
  .pre__container {
    margin: 0 -10px 0 -20px;
    padding-left: 20px; } }

@media (max-width: 575px) {
  .footer__blurb {
    display: none; }
  .footer__blurb--sm {
    color: #999;
    font-size: 14px;
    font-family: monospace;
    display: block; } }

@media (min-width: 540px) {
  .header__titleBg, .header__titleBg--webp-2x, .header__titleBg--webp-3x, .header__titleBg--png-2x, .header__titleBg--png-3x {
    background-size: 1400px; }
  .no-js-header .header {
    background-size: 1400px 100%;
    background-position: center center; }
  .webp .header {
    background-size: 1400px 100%;
    background-position: center center; }
  .no-webp .header {
    background-size: 1400px 100%;
    background-position: center center; }
  .header--webp-2x, .header--webp-3x, .header--png-2x, .header--png-3x {
    background-size: 1400px 100%;
    background-position: center center; }
  .header--webp-2x {
    background-image: url(../images/floral-crop-2x.webp); }
  .header--webp-3x {
    background-image: url(../images/floral-crop-2x.webp); }
  .header--png-2x {
    background-image: url(../images/floral-crop-2x.png); }
  .header--png-3x {
    background-image: url(../images/floral-crop-2x.png); }
  .header__titleBg--webp-2x {
    background-image: url(../images/floral-crop-2x.webp); }
  .header__titleBg--webp-3x {
    background-image: url(../images/floral-crop-2x.webp); }
  .header__titleBg--png-2x {
    background-image: url(../images/floral-crop-2x.png); }
  .header__titleBg--png-3x {
    background-image: url(../images/floral-crop-2x.png); } }

@media (max-width: 540px) {
  .header__titleBg, .header__titleBg--webp-2x, .header__titleBg--webp-3x, .header__titleBg--png-2x, .header__titleBg--png-3x {
    background-size: 540px; }
  .webp .header {
    background-image: url(../images/floral-crop-540w.webp);
    background-size: 540px 100%;
    background-position: center center; }
  .no-webp .header {
    background-image: url(../images/floral-crop-540w.png);
    background-size: 540px 100%;
    background-position: center center; }
  .no-js-header .header {
    background-image: url(../images/floral-crop-540w.png);
    background-size: 540px 100%;
    background-position: center center; }
  .header--webp-2x {
    background-image: url(../images/floral-crop-540w-2x.webp);
    background-size: 540px 100%;
    background-position: center center; }
  .header--webp-3x {
    background-image: url(../images/floral-crop-540w-3x.webp);
    background-size: 540px 100%;
    background-position: center center; }
  .header--png-2x {
    background-image: url(../images/floral-crop-540w-2x.png);
    background-size: 540px 100%;
    background-position: center center; }
  .header--png-3x {
    background-image: url(../images/floral-crop-540w-2x.png);
    background-size: 540px 100%;
    background-position: center center; }
  .webp .header__titleBg {
    background-image: url(../images/floral-crop-540w.webp); }
  .no-webp .header__titleBg {
    background-image: url(../images/floral-crop-540w.png); }
  .no-js-header .header__titleBg {
    background-image: url(../images/floral-crop-540w.png); }
  .header__titleBg--webp-2x {
    background-image: url(../images/floral-crop-540w-2x.webp); }
  .header__titleBg--webp-3x {
    background-image: url(../images/floral-crop-540w-3x.webp); }
  .header__titleBg--png-2x {
    background-image: url(../images/floral-crop-540w-2x.png); }
  .header__titleBg--png-3x {
    background-image: url(../images/floral-crop-540w-2x.png); } }

@media (max-width: 500px) {
  .footer__blurb--sm {
    display: none; } }
