// ==================== Color Variables ====================

$primary-color: #bdc057; // green
	$primary-color-light: lighten($primary-color, 15%);
	$primary-color-dark: darken($primary-color, 10%);

$secondary-color: #422039; // purple
	$secondary-color-light: lighten($secondary-color, 10%);
	$secondary-color-dark: darken($secondary-color, 3%);

// ==================== Image Variables ====================

$header-bg-png: url(../images/floral-crop.png);
$header-bg-png-2x: url(../images/floral-crop-2x.png);
$header-bg-png-3x: url(../images/floral-crop-2x.png);
$header-bg-png-540: url(../images/floral-crop-540w.png);
$header-bg-png-540-2x: url(../images/floral-crop-540w-2x.png);
$header-bg-png-540-3x: url(../images/floral-crop-540w-2x.png);

$header-bg-webp: url(../images/floral-crop.webp);
$header-bg-webp-2x: url(../images/floral-crop-2x.webp);
$header-bg-webp-3x: url(../images/floral-crop-2x.webp);
$header-bg-webp-540: url(../images/floral-crop-540w.webp);
$header-bg-webp-540-2x: url(../images/floral-crop-540w-2x.webp);
$header-bg-webp-540-3x: url(../images/floral-crop-540w-3x.webp);