// ======================================== Import Partials

@import 'variables';

// ======================================== /Import Partials 

// ======================================== Main Styles 

html {
	// Prevent font scaling in landscape while allowing user zoom
	-webkit-text-size-adjust: 100%;
}

body {
	color: #363636;
	font-family: helvetica;
	margin: 0;
}

br {
	line-height: 50px;
}

// ======================================== Placeholder 

// Placeholder to extend header class to its --modifiers, without the variations also inheriting __element classes.
%header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	height: 190px;
	width: 100%;
	background: $secondary-color;
	background-position-y: center;
	background-size: 100%;
	padding: 55px 0;
	color: #fff;
}

// ======================================== /Placeholder 

// ======================================== Placeholder

// Placeholder to extend header__titleBg class to its --modifiers, without the variations also inheriting __element classes.
%header__titleBg {
	background-position: top left;
	z-index: 5;
}

// ======================================== /Placeholder 

.header {
	@extend %header;
	&__home {
	    padding: 10px 14px 10px 20px;
	    text-decoration: none;
	    border: none;
	    cursor: pointer;
	    background: $secondary-color;
	    font-size: 10px;
	    font-weight: bold;
	    letter-spacing: 8px;
	    color: #fff;
	    z-index: 5;
	    &:hover {
			background: $secondary-color-dark;
		}
	}
	&__titleBg {
		@extend %header__titleBg;
		&--faux {
			padding: 15px 20px;
			margin: 8px;
			background: #fff;
		}
		&--webp-2x {
			@extend %header__titleBg;
		}
		&--webp-3x {
			@extend %header__titleBg;
		}
		&--png-2x {
			@extend %header__titleBg;
		}
		&--png-3x {
			@extend %header__titleBg;
		}
	}
	&__title {
		margin: 0;
		font-size: 45px;
		color: $secondary-color;
	}
	&--webp-2x {
		@extend %header;
	}
	&--webp-3x {
		@extend %header;
	}
	&--png-2x {
		@extend %header;
	}
	&--png-3x {
		@extend %header;
	}
}

.webp {
	.header {
		background-image: $header-bg-webp;
	}
	.header__titleBg {
		background-image: $header-bg-webp;
	}
}

.no-webp {
	.header {
		background-image: $header-bg-png;
	}
	.header__titleBg {
		background-image: $header-bg-png;
	}
}

.no-js-header {
	.header {
		background-image: $header-bg-png;
	}
	.header__titleBg {
		background-image: $header-bg-png;
	}
}

.main {
	display: flex;
	justify-content: center;
}

.nav {
	width: 240px;
	padding: 0 10px 58px 0;
	margin-top: 0px;
	display: flex;
	&__list {
		list-style: none;
		line-height: 36px;
		margin-top: 67px;
		&--fixed {
			list-style: none;
			line-height: 34px;
			position: fixed;
			top: 67px;
			margin: 0;
		}
		&--bottom {
			list-style: none;
			line-height: 34px;
			align-self: flex-end;
		}
	}
	&__item {
		color: $primary-color-light;
		text-decoration: none;
		padding: 9px 0;
		&:hover {
			color: $primary-color;
		}
		&--active {
			color: $primary-color;
			font-weight: bold;
			text-decoration: none;
		}
	}
	&--m {
		display: none;
	}
}

.content {
	width: 680px;
	padding-right: 10px;
	margin: 27px 0 65px;
	&__body {
		font-size: 14px;
		line-height: 34px;
		color: #555;
	}
	&__body2 {
		font-size: 14px;
		line-height: 34px;
		color: #555;
		margin-left: -40px;
	}
	&__heading {
		margin-top: 45px;
		font-size: 22px;
		color: $primary-color;
	}
	&__title {
		font-size: 14px;
		margin: 35px 0 20px;
	}
	&__title2 {
		font-size: 14px;
		margin: 4px 0 20px 0;
	}
	&__subtitle {
		font-size: 14px;
		margin: 4px 0 20px 0;
		color: #666;
	}
	&__list {
		font-size: 14px;
		line-height: 34px;
		color: #555;
		margin-left: -24px;
		&--bold {
			font-size: 14px;
			margin: 5px 0 5px;
		}
	}
	&__link {
		color: $primary-color;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	&__code {
		background: #eee;
    	border: solid 1px #ddd;
    	border-radius: 2px;
    	padding: 0 5px;
	}
}

.pre {
	overflow: auto;
	margin: 0;
	&__container {
		overflow: auto;
		background-color: #eee;
    	padding: 15px 20px;
    	border-radius: 4px;
	}
	&__code {
		line-height: 2;
	}
}

.footer {
	display: flex;
    align-items: center;
    justify-content: center;
	width: 100%;
	background: #f3f3f3;
	border-top: solid 1px #eee;
	z-index: 2;
	&__contain {
		display: flex;
		align-items: center;
	    justify-content: space-between;
		width: 940px;
		&--left {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding-left: 30px;
		}
		&--right {
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
	}
	&__link {
		color: #999;
		font-size: 10px;
		padding: 8px 10px;
		letter-spacing: 3px;
		margin-right: 20px;
		cursor: pointer;
		text-decoration: none;
		&:hover {
			color: $primary-color;
		}
	}
	&__blurb {
		color: #999;
		font-size: 14px;
		font-family: monospace;
		&--sm {
			display: none;
		}
	}
	&__pseudoCode {
		background: #eee;
	    border: solid 1px #ddd;
	    border-radius: 2px;
	    padding: 0 5px;
	}
	&__avatar {
	    width: 32px;
	    margin: 20px 10px 20px 30px;
	}
}

// ======================================== /Main Styles

// ======================================== Media Queries

@media (min-width: 1400px) {

	.no-js-header .header {
		background-repeat: repeat-x;
	}

	.webp .header {
		background-repeat: repeat-x;
	}

	.no-webp .header {
		background-repeat: repeat-x;
	}

	.header--webp-2x, .header--webp-3x, .header--png-2x, .header--png-3x {
		background-repeat: repeat-x;
	}
}

@media (max-width: 800px) {

	.nav {
		display: none;
	}

	.nav--m {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 20px;
		background: #00687b;
		color: #fff;
		cursor: pointer;
	}

	.content {
		padding-left: 20px;
		max-width: 100%;
		box-sizing: border-box;
	}

	.footer__contain {
		display: flex;
		align-items: center;
  		justify-content: space-between;
		width: 680px;
		margin: 0 10px;
	}

	.footer__contain--left {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 0;
	}

	.footer__avatar {
		margin-left: 15px;
	}

}

@media (max-width: 700px) {

	.footer__blurb {
		display: none;
	}

	.footer__blurb--sm {
		color: #999;
		font-size: 14px;
		font-family: monospace;
		display: block;
	}

}

@media (max-width: 680px) {

	.pre__container {
		margin: 0 -10px 0 -20px;
		padding-left: 20px;
	}

}

@media (max-width: 575px) {

	.footer__blurb {
		display: none;
	}

	.footer__blurb--sm {
		color: #999;
		font-size: 14px;
		font-family: monospace;
		display: block;
	}

}

@media (min-width: 540px) {

	.header__titleBg, .header__titleBg--webp-2x, .header__titleBg--webp-3x, .header__titleBg--png-2x, .header__titleBg--png-3x {
		background-size: 1400px;
	}

	.no-js-header .header {
		background-size: 1400px 100%;
		background-position: center center;
	}

	.webp .header {
		background-size: 1400px 100%;
		background-position: center center;
	}

	.no-webp .header {
		background-size: 1400px 100%;
		background-position: center center;
	}

	.header--webp-2x, .header--webp-3x, .header--png-2x, .header--png-3x {
		background-size: 1400px 100%;
		background-position: center center;
	}

	.header--webp-2x {
		background-image: $header-bg-webp-2x;
	}

	// NOTE: ommitted 3x version of floral-crop because of file size (change 2x to 3x in file path below for support)
	.header--webp-3x {
		background-image: $header-bg-webp-2x;
	}

	.header--png-2x {
		background-image: $header-bg-png-2x;
	}

	// NOTE: ommitted 3x version of floral-crop because of file size (change 2x to 3x in file path below for support)
	.header--png-3x {
		background-image: $header-bg-png-2x;
	}

	.header__titleBg--webp-2x {
		background-image: $header-bg-webp-2x;
	}

	// NOTE: ommitted 3x version of floral-crop because of file size (change 2x to 3x in file path below for support)
	.header__titleBg--webp-3x {
		background-image: $header-bg-webp-2x;
	}

	.header__titleBg--png-2x {
		background-image: $header-bg-png-2x;
	}

	// NOTE: ommitted 3x version of floral-crop because of file size (change 2x to 3x in file path below for support)
	.header__titleBg--png-3x {
		background-image: $header-bg-png-2x;
	}

}

@media (max-width: 540px) {

	.header__titleBg, .header__titleBg--webp-2x, .header__titleBg--webp-3x, .header__titleBg--png-2x, .header__titleBg--png-3x {
		background-size: 540px;
	}

	.webp .header {
		background-image: $header-bg-webp-540;
		background-size: 540px 100%;
		background-position: center center;
	}

	.no-webp .header {
		background-image: $header-bg-png-540;
		background-size: 540px 100%;
		background-position: center center;
	}

	.no-js-header .header {
		background-image: $header-bg-png-540;
		background-size: 540px 100%;
		background-position: center center;
	}

	.header--webp-2x {
		background-image: $header-bg-webp-540-2x;
		background-size: 540px 100%;
		background-position: center center;
	}

	.header--webp-3x {
		background-image: $header-bg-webp-540-3x;
		background-size: 540px 100%;
		background-position: center center;
	}

	.header--png-2x {
		background-image: $header-bg-png-540-2x;
		background-size: 540px 100%;
		background-position: center center;
	}

	.header--png-3x {
		background-image: $header-bg-png-540-3x;
		background-size: 540px 100%;
		background-position: center center;
	}

	.webp .header__titleBg {
		background-image: $header-bg-webp-540;
	}

	.no-webp .header__titleBg {
		background-image: $header-bg-png-540;
	}

	.no-js-header .header__titleBg {
		background-image: $header-bg-png-540;
	}

	.header__titleBg--webp-2x {
		background-image: $header-bg-webp-540-2x;
	}

	.header__titleBg--webp-3x {
		background-image: $header-bg-webp-540-3x;
	}

	.header__titleBg--png-2x {
		background-image: $header-bg-png-540-2x;
	}

	.header__titleBg--png-3x {
		background-image: $header-bg-png-540-3x;
	}

}

@media (max-width: 500px) {

	.footer__blurb--sm {
		display: none;
	}

}

// ======================================== /Media Queries


